.nav-item {
  font-size: 22px;
}

.headerContainer {
  min-width: 300px;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.linkContainer {
  min-width: 270px;
}

form .searchBox {
  height: 40px;
  width: 100%;
}

form button {
  width: 50px;
}

#idk {
  font-size: 1.2em;
  width: 140px;
}

nav {
  z-index: 122;
}

.collapseContent {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  display: flex;
  flex-flow: row;
  margin-left: auto;
}

.buttonContainer {
  margin-left: auto;
}

.tester {
  display: none;
}

@media (max-width: 639px) {
  .collapseContent {
    flex-direction: column;
  }

  .navbar-nav {
    margin: auto;
  }

  .buttonContainer {
    margin-left: 0;
  }
}

@media (max-width: 762px) {
  .formContainer form {
    display: none;
  }

  .tester {
    display: flex;
  }
}
