<div class="border-top border-dark container-fluid bg-light m-0">
  <div class="jumbotron jumbotron-fluid row mb-0 py-2 bg-light">
    <div class="col-4 d-flex justify-content-center">
      <h1 class="display-4">Strive Shop</h1>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2 searchBox"
          type="search"
          placeholder="Pretraga"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
          Pretraži
        </button>
      </form>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <div>
        <a routerLink="nacini-placanja" class="text-dark mx-2"
          >Načini plaćanja</a
        >
      </div>
      <div>
        <a routerLink="najcesca-pitanja" class="text-dark mx-2"
          >Najčešća pitanja</a
        >
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light bg-light sticky-top border-bottom border-dark"
>
  <div class="col-3">
    <a><img src="../../../../assets/images/s.png" /></a>
    <a><img src="../../../../assets/images/t.png" /></a>
    <a><img src="../../../../assets/images/r.png" /></a>
    <a><img src="../../../../assets/images/i.png" /></a>
    <a><img src="../../../../assets/images/v.png" /></a>
    <a><img src="../../../../assets/images/e.png" /></a>
  </div>

  <ul class="navbar-nav col-5 justify-content-center">
    <li class="nav-item mx-3">
      <a href="#" class="nav-link">Link 1</a>
    </li>
    <li class="nav-item mx-3">
      <a href="#" class="nav-link">Link 2</a>
    </li>
    <li class="nav-item dropdown mx-3">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Odeća
      </a>
      <div class="dropdown-menu py-0" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" [routerLink]="['product-page', 'men']"
          >Muškarci</a
        >
        <div class="dropdown-divider my-0"></div>
        <a class="dropdown-item" [routerLink]="['product-page', 'women']"
          >Žene</a
        >
        <div class="dropdown-divider my-0"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item mx-3">
      <a href="#" class="nav-link">Link 3</a>
    </li>
    <li class="nav-item mx-3">
      <a href="#" class="nav-link">Link 4</a>
    </li>
  </ul>
  <div class="col-4 d-flex justify-content-end">
    <button
      class="btn btn-outline-secondary pl-0 mx-4"
      id="idk"
      (click)="loginHandler()"
    >
      <i class="fas fa-user"></i> Moj nalog
    </button>

    <button class="btn btn-outline-secondary pl-0 mr-5" id="idk">
      <i class="fas fa-shopping-cart"></i> Korpa
    </button>
  </div>
</nav>

<app-login *ngIf="loginActive" (modalDismissed)="loginClosed()"></app-login>
