.jumbotronWrapper {
  background-image: linear-gradient(
    to bottom,
    rgb(248, 249, 250),
    rgb(219, 216, 216)
  );
}

.jumbotron {
  background-image: linear-gradient(
    to bottom,
    rgb(244, 245, 245),
    rgb(219, 216, 216)
  );
}

.headerContainer {
  min-width: 300px;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

form .searchBox {
  height: 40px;
  width: 100%;
}

form button {
  width: 50px;
}

.linkContainer {
  min-width: 270px;
}

nav {
  z-index: 122;
  background-image: linear-gradient(
    to bottom,
    rgb(219, 216, 216),
    rgb(244, 245, 245)
  );
}

.collapseContent {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  display: flex;
  flex-flow: row;
  margin-left: auto;
}

.nav-item {
  font-size: 22px;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
}

#navButton {
  font-size: 1.2em;
  width: 140px;
}

.navSearchForm {
  display: none;
}

@media (max-width: 639px) {
  .collapseContent {
    flex-direction: column;
  }

  .navbar-nav {
    margin: auto;
  }

  .buttonContainer {
    margin-left: 0;
  }
}

@media (max-width: 762px) {
  .formContainer form {
    display: none;
  }

  .navSearchForm {
    display: flex;
  }
}
