<div
  class="border-top border-dark container-fluid bg-light m-0 jumbotronWrapper"
>
  <div class="jumbotron jumbotron-fluid mb-0 py-2 bg-light d-flex flex-row">
    <div
      class="d-flex justify-content-center headerContainer"
      style="margin-left: auto;"
    >
      <h1 class="display-4">Strive Shop</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center formContainer">
      <form
        class="form-inline my-2 my-lg-0 row"
        [formGroup]=""
        style="width: 100%;"
      >
        <input
          class="form-control mr-sm-2 searchBox col"
          type="search"
          placeholder="Pretraga"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-secondary my-2 my-sm-0 col-lg-1 col-xs-2"
          type="submit"
        >
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div
      class="d-flex justify-content-center linkContainer"
      style="margin-left: auto;"
    >
      <div>
        <a routerLink="nacini-placanja" class="text-dark mx-2"
          >Načini plaćanja</a
        >
      </div>
      <div>
        <a routerLink="najcesca-pitanja" class="text-dark mx-2"
          >Najčešća pitanja</a
        >
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-light sticky-top border-bottom border-dark"
>
  <div>
    <a><img src="../../../../assets/images/s.png" /></a>
    <a><img src="../../../../assets/images/t.png" /></a>
    <a><img src="../../../../assets/images/r.png" /></a>
    <a><img src="../../../../assets/images/i.png" /></a>
    <a><img src="../../../../assets/images/v.png" /></a>
    <a><img src="../../../../assets/images/e.png" /></a>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <section class="collapseContent container-fluid w-100">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item mx-3">
          <a [routerLink]="['product-page', 'men']" class="nav-link">Men</a>
        </li>
        <li class="nav-item mx-3">
          <a [routerLink]="['product-page', 'women']" class="nav-link">Women</a>
        </li>
        <!-- <li class="nav-item dropdown mx-3">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Odeća
        </a>
        <div class="dropdown-menu py-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['product-page', 'men']"
            >Muškarci</a
          >
          <div class="dropdown-divider my-0"></div>
          <a class="dropdown-item" [routerLink]="['product-page', 'women']"
            >Žene</a
          >
          <div class="dropdown-divider my-0"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      </ul>
      <div class="buttonContainer">
        <button
          class="btn btn-outline-secondary pl-0 mx-4"
          id="navButton"
          (click)="loginShow()"
        >
          <i class="fas fa-user"></i> Moj nalog
        </button>

        <div
          class=""
          (mouseover)="cartHoverShow()"
          (mouseleave)="cartHoverHide()"
        >
          <button class="btn btn-outline-secondary pl-0 mr-5" id="navButton">
            <i class="fas fa-shopping-cart"></i> Korpa
          </button>
          <app-cart-hover *ngIf="cartActive"></app-cart-hover>
        </div>
      </div>
    </section>
    <form class="form-inline my-2 my-lg-0 row navSearchForm" [formGroup]="">
      <input
        class="form-control mr-sm-2 searchBox col"
        type="search"
        placeholder="Pretraga"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-secondary my-2 my-sm-0 col-1"
        type="submit"
      >
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</nav>

<app-login
  *ngIf="loginActive"
  (modalDismissed)="loginClose()"
  (registerActive)="registerShow()"
></app-login>

<app-register
  *ngIf="registerActive"
  (modalDismissed)="registerClose()"
  (loginActive)="loginShow()"
></app-register>
