/* .card:hover {
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
} */

.card-img-overlay {
  height: 430px;
  transition: background-color 0.7s ease;
}

.overlayText {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.7s ease;
}

.imageContainer:hover .overlayText {
  /* display: block; */
  opacity: 1;
}

.imageContainer:hover .card-img-overlay {
  background-color: rgba(171, 171, 171, 0.3);
  /* filter: blur(2px); */
}
