<div class="card m-3" style="max-width: 18rem;">
  <div class="imageContainer">
    <img src="../../../../assets/images/product1.jpg" class="card-img-top" />
    <div class="card-img-overlay d-flex justify-content-center align-items-center">
      <h2 class="overlayText text-light">Detaljnije</h2>
    </div>
  </div>
  <div class="card-body text-dark">
    <a href="#" class="text-dark"
      ><h6 class="card-title">Linen-blend shirt Regular Fit</h6></a
    >
    <p class="card-text text-danger">
      12.990,00 RSD
    </p>
  </div>
</div>
