<div class="card m-3" style="max-width: 18rem" (click)="redirectToDetails()">
  <div class="imageContainer">
    <img src="{{ this.model.picUrl }}" class="card-img-top" />
    <div
      class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
      (click)="deleteProduct()"
    >
      <h2 *ngIf="!adminView" class="overlayText text-light my-auto">
        Detaljnije<br />
      </h2>

      <h2 *ngIf="adminView" class="overlayText text-light my-auto">
        Izbrišite
      </h2>
    </div>
  </div>
  <div class="card-body text-dark">
    <a
      [routerLink]="['/product-details']"
      [queryParams]="{ product: model | json }"
      queryParamsHandling="merge"
      class="text-dark"
      ><h6 class="card-title">{{ model.name }}</h6></a
    >
    <p class="card-text text-danger">{{ model.price | pointReplacer }} RSD</p>
  </div>
</div>
