.card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

.card-img-overlay {
  height: 430px;
  transition: background-color 0.7s ease;
}

.overlayText {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.imageContainer {
  cursor: pointer;
}

.imageContainer:hover .overlayText {
  opacity: 1;
}

.imageContainer:hover .card-img-overlay {
  background-color: rgba(171, 171, 171, 0.4);
}

.favWrapper {
  width: 40px;
  height: 32px;
  transition: width ease-in 0.3s;
}

h5 {
  opacity: 0;
  transition: opacity none 0s;
}

.favWrapper:hover {
  width: 190px;
  background-color: rgba(171, 171, 171, 0.05);
}

.favWrapper:hover h5 {
  display: block;
  opacity: 1;
  transition: opacity ease-in 1.8s;
}
