<div class="card m-3" style="max-width: 18rem;">
  <div class="imageContainer">
    <img src="{{ this.model.picUrl }}" class="card-img-top" />
    <div
      class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="overlayText text-light mt-auto">
        Detaljnije<br />
        <!-- <i
          class="fas fa-long-arrow-alt-right d-flex justify-content-center"
          style="font-size: 35px;"
        ></i> -->
      </h2>

      <div
        class="favWrapper overlayText d-flex justify--end align-self-start m-0 px-1 mt-auto"
      >
        <i class="far fa-heart text-light mr-1" style="font-size: 30px;"></i>
        <h5 class="text-light">Dodaj u favorite</h5>
      </div>
    </div>
  </div>
  <div class="card-body text-dark">
    <a
      [routerLink]="['/product-details']"
      [queryParams]="{ product: model | json }"
      queryParamsHandling="merge"
      class="text-dark"
      ><h6 class="card-title">{{ model.name }}</h6></a
    >
    <p class="card-text text-danger">{{ model.price | pointReplacer }} RSD</p>
  </div>
</div>
