<div class="row bg-light container-fluid m-0">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 py-3 d-flex flex-column align-items-center">
    <div class="" style="width: 95%;">
      <img
        src="../../../../assets/images/najcesca-pitanja.jpg"
        class="img-fluid mb-2"
        style="width: 100%; min-height: 70px;"
      />
      <p>
        Poštovani kupci, ukoliko postoji neko pitanje na koje nemate odgovor, a
        ne možete da ga formulišete, pokušajte na ovoj strani. Tu se nalaze
        pitanja i odgovori koji su najviše zastupljeni kod ovakvog načina
        kupovine. Ukoliko Vaše pitanje nije među njima, slobodno nas možete
        kontaktirati na web@winwin.rs.
      </p>
      <ol class="px-3">
        <li>
          <a pageScroll href="#prvo" class="text-dark"
            >Da li mogu da platim proizode u Strive shopu platnim / kreditnim
            katicama i kojim?</a
          >
        </li>
        <li>
          <a pageScroll href="#drugo" class="text-dark"
            >Da li je poštarina uključena u cenu?</a
          >
        </li>
        <li>
          <a pageScroll href="#trece" class="text-dark"
            >Kad sam poručivao proizvod kod vas, zaboravio sam da naznačim način
            plaćanja (transporta). Da li će taj proizvod stići na moju adresu, a
            ako neće, šta da uradim?</a
          >
        </li>
        <li>
          <a pageScroll href="#cetvrto" class="text-dark"
            >Kupovinu obavljam za sopstvenu firmu. Da li mogu da platim sa
            računa firme?</a
          >
        </li>
        <li>
          <a pageScroll href="#peto" class="text-dark"
            >Imam tekući račun u banci. Da li mogu online da kupim proizvode
            preko tog računa?</a
          >
        </li>
        <li>
          <a pageScroll href="#sesto" class="text-dark"
            >Da li mogu online da naručim proizvod, a da ga negde lično
            preuzmem?</a
          >
        </li>
        <li>
          <a pageScroll href="#sedmo" class="text-dark"
            >Registrovan sam kao vaš kupac i kupovao sam kod vas, međutim, morao
            sam da promenim internet provajdera. Šta treba da radim u ovom
            slučaju?</a
          >
        </li>
        <li>
          <a pageScroll href="#osmo" class="text-dark"
            >Greškom sam naručio proizvod. Da li mogu da otkažem porudžbinu?</a
          >
        </li>
        <li>
          <a pageScroll href="#deveto" class="text-dark"
            >Šta se dešava ako roba koju dobijem bude oštećena? Da li je mogu
            zameniti i na koji način?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#deseto" class="text-dark"
            >Da li je moguća isporuka van srbije?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#jedanaesto" class="text-dark"
            >Želim da obradujem nekog i pošaljem mu poklon na kućnu adresu. Da
            li je to moguće, i na koji način?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#dvanaesto" class="text-dark"
            >Kako da znam da sam sigurno obavio poručivanje?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#trinaesto" class="text-dark"
            >Zaboravio sam lozinku za logovanje. Šta da radim?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#cetrnaesto" class="text-dark"
            >Zaboravio sam username za logovanje. Šta da radim?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#petnaesto" class="text-dark"
            >Uneo sam pogrešan podatak o sebi i tek kasnije uvideo grešku. Kako
            mogu to da ispravim?</a
          >
        </li>
        <li class="ml-2">
          <a pageScroll href="#sesnaesto" class="text-dark"
            >Koliko dugo važi moja rezervacija?</a
          >
        </li>
      </ol>
      <div style="height: 15px;" id="prvo"></div>

      <hr
        style="
          height: 2px;
          border-width: 0;
          color: gray;
          background-color: gray;
        "
      />
      <h5 id="drugo">
        1. Da li mogu da platim proizvode u Strive Shopu platnim / kreditnim
        karticama i kojim?
      </h5>
      <p>
        U WinWin Shop-u kupovina je moguća Visa, Visa Electron, Mastercard,
        Maestro i Dina karticama. <br />Odloženo plaćanje je moguće Intesa
        Master karticom do 12 rata bez kamate
      </p>
      <h5 id="trece">2. Da li je poštarina uključena u cenu?</h5>
      <p>
        Ukoliko je iznos porudžbine 2000 dinara ili veći isporuka je besplatna.
        Za narudžbine čiji je iznos manji od 2000 dinara, cena isporuke iznosi
        240 dinara uključujući PDV.
      </p>
      <h5 id="cetvrto">
        3. Kad sam poručivao proizvod kod vas, zaboravio sam da naznačim način
        plaćanja (transporta), da li će taj proizvod stići na moju adresu, a ako
        neće, šta da uradim?
      </h5>
      <p>
        Ukoliko ne popunite neko od obaveznih polja(označeni su zvezdicom*) naš
        program Vam neće dozvoliti da pređete u sledeći korak kupovine, vratiće
        Vas na prethodni i upozoriti da popunite polje koje nedostaje.
      </p>
      <h5 id="peto">
        4. Kupovinu obavljam za sopstvenu firmu, da li mogu da platim sa računa
        firme?
      </h5>
      <p>
        Možete platiti sa računa firme. Potrebno je da u okviru načina plaćanja
        odaberete opciju virmansko plaćanje(ili plaćanje preko računa), popunite
        nalog za prenos i izvršite prenos sredstava.
      </p>
      <h5 id="sesto">
        5. Imam tekući račun u banci. Da li mogu online da kupim proizvode preko
        tog računa?
      </h5>
      <p>
        Ukoliko želite da platite preko svog računa direktno sa svog računara
        koristeći opciju e-banking svoje banke onda treba da za način plaćanja
        odaberete Uplatnicom / nalogom za prenos unesete podatke u Vaš sistem i
        platite. Ukoliko želite da lično platite u banci, a opet sa Vašeg
        tekućeg računa, onda opet odaberete način plaćanja Uplatnicom / nalogom
        za prenos odštampate ili prepišete podatke, ponesete ih sa sobom i
        uplatite lično u banci nalogom za prenos sa Vašeg tekućeg računa.
      </p>
      <h5 id="sedmo">
        6. Da li mogu online da naručim proizvod, a da ga negde lično preuzmem?
      </h5>
      <p>Ova opcija trenutno nije aktivna.</p>
      <h5 id="osmo">
        7. Registrovan sam kao vaš kupaac i kupovao sam kod vas, međutim, morao
        sam da promenim internet provajdera. Šta treba da radim u ovom slučaju?
      </h5>
      <p>
        E-mail adresu možete promeniti nakon logovanja na sajt u opciji "Moj
        nalog". Takođe nam možete poslati nove informacije na web@winwin.rs i mi
        ćemo ih korigovati za Vas.
      </p>
      <h5 id="deveto">
        8. Greškom sam naručio proizvod, da li mogu da otkažem porudžbinu?
      </h5>
      <p>
        U ovom slučaju, potrebno je da nam u roku od 45 minuta nakon poslate
        porudžbine pošaljete e-mail u kome ćete naznačiti koja je greška u
        pitanju i obavestiti nas da poništimo narudžbinu. Tada će ista biti
        stornirana. Ukoliko to ne uradite u naznačenom vremenu, moguće je
        izvršiti povraćaj robe, ali Vam u tom slučaju zaračunamo proviziju koja
        iznosi 2% od vrednosti datog artikla (minimalno 300 din. + PDV po
        artiklu). Rok za započinjanje procedure povraćaja je 24h od trenutka
        prijema robe.
      </p>
      <h5 id="deseto">
        9. Šta se dešava ako roba koju dobijem bude oštećena? Da li je mogu
        zameniti i na koji način?
      </h5>
      <p>
        Da, postoji mogućnost zamene oštećene robe, a način i uslovi pod kojima
        se to može uraditi detaljno su opisani ovde. Ukoliko vam je pošiljka
        stigla oštećena, najbolje je da u roku od 24 sata kontaktirate kurirsku
        službu koja je isporučila paket, kako bi napravili zapisnik. Ukoliko je
        roba stigla neoštećena, ali je neispravna, kontaktirajte naš servis kako
        bi Vam poslali zamenu.
      </p>
      <h5 id="jedanaesto">10. Da li je moguća isporuka van Srbije?</h5>
      <p>
        Za sada ne postoji mogućnost isporuke robe van teritorije Srbije.
        Ukoliko zaživi i ova opcija, bićete blagovremeno obavešteni na našem
        sajtu.
      </p>
      <h5 id="dvanaesto">
        11. Želim da obradujem nekog i pošaljem mu poklon na kućnu adresu. Da li
        je to moguće i na koji način?
      </h5>
      <p>
        Dovoljno je da izaberete željeni proizvod i u napomeni porudžbine
        upišete adresu na koju želite da pošaljete poklon. Ono na šta trebate
        obratiti pažnju je da nikako ne smete odabrati plaćanje pouzećem, jer će
        tada račun stići osobi kojoj želite da pošaljete poklon. Zato odaberite
        neki drugi način plaćanja. Čim budemo proknjižili Vašu uplatu poslaćemo
        poklon osobi kojoj želite.
      </p>
      <h5 id="trinaesto">
        12. Kako da znam da sam sigurno obavio poručivanje?
      </h5>
      <p>
        Kada kliknete na dugme „Pošalji narudžbinu“ na ekranu će Vam se pojaviti
        poruka „Vaša porudžbina je uspešno kompletirana“ i na e-mail koji ste
        upisali i koji koristite za kupovinu stići će Vam potvrda porudžbine sa
        svim proizvodima koje ste poručili, cenom i datumom kada će proizvodi
        biti spremni za slanje.
      </p>
      <h5 id="cetrnaesto">
        13. Zaboravio sam lozinku za logovanje. Šta da radim?
      </h5>
      <p>
        Sve što je potrebno je da prvo upišete Vaš Username i kliknete na link
        „Zaboravili ste lozinku?“. Zatim, u prozoru koji Vam se bude otvorio
        upišete Vašu e-mail aderesu koju ste nam prosledili pri registraciji. U
        kratkom roku će Vam na tu adresu stići Vaša lozinka i moći ćete
        nesmetano da koristite naše usluge.
      </p>
      <h5 id="petnaesto">
        14. Zaboravio sam username za logovanje, šta da radim?
      </h5>
      <p>
        Ukoliko ste zaboravili svoj username, kontaktirajte nas putem e-maila,
        predočite problem i zahtev da Vam pošaljemo korisničko ime sa kojim ste
        se registrovali na našem sajtu. Ovom prilikom potrebno je da nam
        dostavite što više ličnih podataka (ime, prezime, e-mail adresu, jmbg i
        sl.) kako bismo Vas lakše pronašli u bazi i bili sigurni u jedinstvenost
        podataka.
      </p>
      <h5 id="sesnaesto">
        15. Uneo sam pogrešan podatak o sebi i tek kasnije uvideo grešku. Kako
        mogu to da ispravim?
      </h5>
      <p>
        Svoje podatke možete menjati kada se sa svojim korisničkim imenom i
        lozinkom ulogujete na naš sajt i pristupite stranici ''Moj Nalog''. Na
        ovom mestu, takođe, možete menjati i druge podatke vezane lično za Vas,
        pregledati svoje porudžbine, njihove statuse kao i omiljene proizvode.
      </p>
      <h5 id="sesnaesto">16. Koliko dugo važi moja rezervacija?</h5>
      <p>
        Robu koju poručite preko našeg sajta, čuvaćemo na rezervaciji 3 dana. Do
        tada očekujemo Vašu uplatu. U suprotnom, porudžbinu ćemo stornirati i
        smatrati da ste od nje odustali. U ovom roku, robu koju čuvamo na
        rezervaciji čuvaćemo po cenama koje su bile u trenutku Vašeg
        poručivanja, bez obzira ako se cena u međuvremenu promenila. Naravno,
        ovo važi za sve porudžbine kod kojih se očekuje prvobitna uplata. U
        slučaju da plaćate pouzećem, robu vam šaljemo prvom isporukom (u
        zavisnosti od samog roka isporuke poručenih artikala). U slučaju
        plaćanja putem kredita, ako je kredit odobren, robu dobijate odmah nakon
        uplate na naš račun od strane banke. Za uplaćenu robu koja se preuzima u
        radnji, rezervacija takođe važi 3 dana nakon čega vršimo vraćanje novca
        na račun kupca.
      </p>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
