<div class="wrapper container-fluid d-flex flex-row">
  <div class="sidebar d-flex flex-column">
    <h4><i class="fas fa-user"></i> Admin panel</h4>
    <hr style="margin: 0 auto;" />
    <div class="buttonContainer d-flex flex-column">
      <button (click)="setActiveContent(1)" id="1">Kreiraj proizvod</button>
      <button (click)="setActiveContent(2)" id="2">
        Svi produkti
      </button>
      <button (click)="setActiveContent(3)" id="3">
        Narudžbine
      </button>
    </div>
    <hr style="margin: 0 auto;" />
  </div>
  <div class="content">
    <div class="createProductForm" *ngIf="activeContent === 1">
      <h4>Kreirajte proizvod</h4>
      <form [formGroup]="productForm">
        <div class="form-group">
          <input
            id="name"
            type="text"
            [ngClass]="
              name.invalid && name.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="name"
            placeholder="Naziv proizvoda"
          />
          <div *ngIf="name.errors && name.touched" class="mt-1">
            <span *ngIf="name.errors.required">
              Unesite naziv proizvoda
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              price.invalid && price.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="price"
            placeholder="Cena"
          />
          <div *ngIf="price.errors && price.touched" class="mt-1">
            <span *ngIf="price.errors.required">
              Unesite cenu proizvoda
            </span>
          </div>
        </div>
        <div class="form-group">
          <select
            class="custom-select"
            [ngClass]="
              gender.invalid && gender.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="gender"
            (change)="changeGender($event)"
          >
            <option value="" disabled
              >Izaberite pol za koji je produkt namenjen</option
            >
            <option *ngFor="let gender of genders" [ngValue]="gender">{{
              gender
            }}</option>
          </select>
          <div *ngIf="gender.errors && gender.touched" class="mt-1">
            <span *ngIf="gender.errors.required">
              Izaberite pol za koji je produkt namenjen
            </span>
          </div>
        </div>
        <div class="form-group">
          <select
            class="custom-select"
            formControlName="category"
            [ngClass]="
              category.invalid && category.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            (change)="changeCategory($event)"
          >
            <option value="" disabled>Izaberite kategoriju produkta</option>
            <option *ngFor="let category of categories" [ngValue]="category">{{
              category
            }}</option>
          </select>
          <div *ngIf="category.errors && category.touched" class="mt-1">
            <span *ngIf="category.errors.required">
              Izaberite kategoriju proizvoda
            </span>
          </div>
        </div>
        <div class="form-group">
          <select
            class="custom-select"
            formControlName="color"
            [ngClass]="
              color.invalid && color.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            (change)="changeColor($event)"
          >
            <option value="" disabled>Izaberite boju produkta</option>
            <option *ngFor="let color of colors" [ngValue]="color">{{
              color
            }}</option>
          </select>
          <div *ngIf="color.errors && color.touched" class="mt-1">
            <span *ngIf="color.errors.required">
              Izaberite boju proizvoda
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              size.invalid && size.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="size"
            placeholder="Dostupne veličine proizvoda (zapišite u formatu XS,S,M,...)"
          />
          <div *ngIf="size.errors && size.touched" class="mt-1">
            <span *ngIf="size.errors.required">
              Unesite veličine proizvoda ili proverite da li ste ih zapisali u
              korektnom formatu
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              caption.invalid && caption.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="caption"
            placeholder="Opis proizvoda"
          />
          <div *ngIf="caption.errors && caption.touched" class="mt-1">
            <span *ngIf="caption.errors.required">
              Unesite opis proizvoda
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              composition.invalid && composition.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="composition"
            placeholder="Sastav proizvoda"
          />
          <div *ngIf="composition.errors && composition.touched" class="mt-1">
            <span *ngIf="composition.errors.required">
              Unesite sastav proizvoda
            </span>
          </div>
        </div>
        <div
          class="imageUploadContainer d-flex flex-row justify-content-between"
        >
          <div>
            <label class="btn btn-secondary">
              <i class="fa fa-image"></i>
              Izaberite naslovnu sliku
              <input
                #imageInput
                type="file"
                style="display: none;"
                accept="image/*"
                (change)="processFile(imageInput)"
              />
            </label>
            <strong *ngIf="avatarName == ''">Nema izabrane slike</strong>
            <strong *ngIf="avatarName != ''">Izabrana slika je: </strong
            ><span>{{ avatarName }}</span>
          </div>

          <div>
            <label class="btn btn-secondary">
              <i class="fa fa-image"></i> Izaberite 4 slike proizvoda<input
                type="file"
                style="display: none;"
                accept="image/*"
                multiple
                (change)="processFiles($event)"
              />
            </label>
            <strong>Izabrano je: </strong
            ><span>{{ productDetailsImages.length }} slika</span>
          </div>
        </div>

        <div
          class="formButtonContainer"
          [ngClass]="
            productForm.invalid ||
            avatar == null ||
            productDetailsImages.length != 4
              ? 'formButtonInvalid'
              : 'formButtonValid'
          "
          (mousemove)="showErrorDialog($event)"
          (mouseleave)="hideErrorDialog()"
        >
          <button
            class="btn btn-outline-secondary"
            type="submit"
            (click)="createProduct()"
          >
            Sačuvajte
          </button>
        </div>
        <div class="dialogErrorMessage" id="dialogErrorMessage">
          Popunite formu i izaberite slike
        </div>
      </form>
    </div>
    <div class="products" *ngIf="activeContent === 2">
      <h4>Svi produkti</h4>
      <div class="categoryWrapper mt-4 mb-2">
        <div class="categoryHeaderWrapper">
          <div
            class="d-flex flex-row"
            data-toggle="collapse"
            data-target="#demo"
            (click)="scrollToggler(1)"
          >
            <h4 class="">Muški proizvodi</h4>
            <i
              class="fas fa-angle-down d-flex align-self-center"
              [ngClass]="maleCategoryActive ? 'IconUp' : 'IconDown'"
              style="margin-left: auto;"
            ></i>
          </div>
          <hr />
        </div>
        <div id="demo" class="collapse show categoriesContent">
          <div class="d-flex flex-row flex-wrap justify-content-center">
            <div *ngFor="let product of maleProducts">
              <app-product
                [model]="product"
                [adminView]="true"
                (productDeleted)="getAllProducts()"
              ></app-product>
            </div>
          </div>
        </div>
      </div>

      <div class="categoryWrapper mt-4 mb-2">
        <div class="categoryHeaderWrapper">
          <div
            class="d-flex flex-row"
            data-toggle="collapse"
            data-target="#demo2"
            (click)="scrollToggler(2)"
          >
            <h4 class="">Ženski proizvodi</h4>
            <i
              class="fas fa-angle-down d-flex align-self-center"
              [ngClass]="femaleCategoryActive ? 'IconUp' : 'IconDown'"
              style="margin-left: auto;"
            ></i>
          </div>
          <hr />
        </div>
        <div id="demo2" class="collapse show categoriesContent">
          <div class="d-flex flex-row flex-wrap justify-content-center">
            <div *ngFor="let product of femaleProducts">
              <app-product
                [model]="product"
                [adminView]="true"
                (productDeleted)="getAllProducts()"
              ></app-product>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="orders" *ngIf="activeContent === 3">
      <h4>Narudžbine</h4>
      <div *ngFor="let order of orders">
        <div class="order">
          <div class="d-flex flex-row justify-content-between">
            <span
              ><b>#{{ order.id }}</b></span
            >
            <span
              >Stanje: <b>{{ order.status }}</b></span
            >
            <div class="iconContainer d-flex flex-row">
              <i
                class="fas fa-check"
                id="check"
                (mousemove)="showMessageDialog($event, 1)"
                (mouseleave)="hideMessageDialog()"
                (click)="updateStatus(order.id, 'Izvršeno')"
              ></i>
              <i
                class="fas fa-times"
                id="cross"
                (mousemove)="showMessageDialog($event, 2)"
                (mouseleave)="hideMessageDialog()"
                (click)="updateStatus(order.id, 'Isporučeno')"
              ></i>
            </div>
            <div class="dialogMessage" id="dialogMessage">
              Promenite stanje u <b><em>'Izvršeno'</em></b
              >.
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">
              <span
                >Datum narudžbine:
                <em>{{ order.date | date: "dd/MM/yyyy" }}</em></span
              >
              <span
                >Ime i prezime naručioca:
                <em>{{ order.name }} {{ order.surname }}</em></span
              >
              <span
                >Kontakt: <em>{{ order.phone }}</em></span
              >
              <span
                >Adresa:
                <em
                  >{{ order.address }}, {{ order.city }},
                  {{ order.country }}</em
                ></span
              >
              <span
                >Poštanski broj: <em>{{ order.zipCode }}</em></span
              >
            </div>
            <div
              class="d-flex flex-column justify-content-center orderedProducts"
            >
              <span>Poručeni proizvodi:</span>
              <div *ngFor="let product of order.products">
                <a
                  [routerLink]="['/product-details']"
                  [queryParams]="{ product: product | json }"
                  queryParamsHandling="merge"
                  >{{ product.quantity }} x {{ product.name }} ({{
                    product.chosenSize
                  }})</a
                >
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center priceInfo">
              <span
                >Cena: <em>{{ order.price | pointReplacer }} RSD</em></span
              >
              <span>Način plaćanja: <em>pouzećem</em></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
