.wrapper {
  padding: 6% 10% 0% 10%;
}

.content {
  height: 400px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 50px 40px 25px 40px;
}

.left-part {
  margin-right: auto;
}

.right-part {
  margin-left: auto;
}

.guest {
  margin-top: 100px;
}

#proceed {
  width: 135px;
  height: 50px;
  margin-top: auto;
  margin-left: auto;
  font-size: 20px;
}

.address {
  height: 400px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 25px 40px 25px 40px;
}

.addressSection {
  margin-left: 100px;
}

.formControlValid,
.formControlInvalid {
  display: block;
  width: 350px;
  height: 45px;
  padding-left: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  outline: none;
}

.formControlInvalid {
  border: 1px solid red;
}

.form-group span {
  color: #d9534f;
  margin-top: 4px;
  margin-bottom: 0px;
}

.orderSection {
  margin: auto;
  margin-right: auto;
}

.orderSection span {
  font-size: 20px;
}

#order {
  width: 135px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
}

.formButtonContainer {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

.formButtonValid {
  cursor: pointer;
}

.formButtonInvalid {
  cursor: not-allowed;
}

.formButtonInvalid button {
  pointer-events: none;
}

.dialogErrorMessage {
  display: none;
  width: 130px;
  padding: 8px;
  background-color: rgb(250, 214, 214);
  border-color: rgb(250, 214, 214);
  border-radius: 25px;
  position: absolute;
  z-index: 10;
}

.dialogMessage {
  display: none;
  width: 265px;
  padding: 8px;
  margin-top: 10px;
  margin-left: auto;
  color: white;
  background-color: rgb(103, 161, 112);
  border-color: rgb(104, 76, 76);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
