<div class="wrapper container-fluid d-flex flex-row">
  <div class="sidebar d-flex flex-column">
    <h4><i class="fas fa-user"></i> Moj nalog</h4>
    <hr style="margin: 0 auto;" />
    <div class="buttonContainer d-flex flex-column">
      <button (click)="setActiveContent(1)">Adresar</button>
      <button (click)="setActiveContent(2)">
        Moje narudžbine
      </button>
      <button (click)="setActiveContent(3)">Prodajte i Vi</button>
      <button (click)="setActiveContent(4)">Moji oglasi</button>
    </div>
    <hr style="margin: 0 auto;" />
  </div>
  <div class="content">
    <div class="addressType" *ngIf="activeContent === 1">
      <h4>Izmeni adresu</h4>
      <h5>Kontakt informacije</h5>
      <form [formGroup]="addressForm" (submit)="updateAddress()">
        <div class="form-group">
          <input
            id="name"
            type="text"
            [ngClass]="
              name.invalid && name.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="name"
            placeholder="Ime"
          />
          <div *ngIf="name.errors && name.touched" class="mt-1">
            <span *ngIf="name.errors.required">
              Unesite ime
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              surname.invalid && surname.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="surname"
            placeholder="Prezime"
          />
          <div *ngIf="surname.errors && surname.touched" class="mt-1">
            <span *ngIf="surname.errors.required">
              Unesite prezime
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              phone.invalid && phone.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="phone"
            placeholder="Broj telefona"
          />
          <div *ngIf="phone.errors && phone.touched" class="mt-1">
            <span *ngIf="phone.errors.required">
              Unesite broj telefona
            </span>
          </div>
        </div>
        <h5>Adresa</h5>
        <div class="form-group">
          <input
            id="name"
            type="text"
            [ngClass]="
              address.invalid && address.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="address"
            placeholder="Adresa"
          />
          <div *ngIf="address.errors && address.touched" class="mt-1">
            <span *ngIf="address.errors.required">
              Unesite adresu
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              city.invalid && city.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="city"
            placeholder="Grad"
          />
          <div *ngIf="city.errors && city.touched" class="mt-1">
            <span *ngIf="city.errors.required">
              Unesite grad
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              zipCode.invalid && zipCode.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="zipCode"
            placeholder="Poštanski broj"
          />
          <div *ngIf="zipCode.errors && zipCode.touched" class="mt-1">
            <span *ngIf="zipCode.errors.required">
              Unesite poštanski broj
            </span>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            [ngClass]="
              country.invalid && country.touched
                ? 'formControlInvalid'
                : 'formControlValid'
            "
            formControlName="country"
            placeholder="Država"
          />
          <div *ngIf="country.errors && country.touched" class="mt-1">
            <span *ngIf="country.errors.required">
              Unesite državu
            </span>
          </div>
        </div>
        <button
          class="btn btn-outline-secondary"
          type="submit"
          [disabled]="addressForm.invalid"
        >
          Sačuvajte
        </button>
      </form>
    </div>
    <div class="orders" *ngIf="activeContent === 2">
      <h4>Moje narudžbine</h4>
      <div *ngFor="let order of orders">
        <div class="order">
          <div class="d-flex flex-row justify-content-between">
            <span
              ><b>#{{ order.id }}</b></span
            >
            <span
              >Stanje: <b>{{ order.status }}</b></span
            >
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column">
              <span
                >Datum narudžbine:
                <em>{{ order.date | date: "dd/MM/yyyy" }}</em></span
              >
              <span
                >Ime i prezime naručioca:
                <em>{{ order.name }} {{ order.surname }}</em></span
              >
              <span
                >Kontakt: <em>{{ order.phone }}</em></span
              >
              <span
                >Adresa:
                <em
                  >{{ order.address }}, {{ order.city }},
                  {{ order.country }}</em
                ></span
              >
              <span
                >Poštanski broj: <em>{{ order.zipCode }}</em></span
              >
            </div>
            <div
              class="d-flex flex-column justify-content-center orderedProducts"
            >
              <span>Poručeni proizvodi:</span>
              <div *ngFor="let product of order.products">
                <a
                  [routerLink]="['/product-details']"
                  [queryParams]="{ product: product | json }"
                  queryParamsHandling="merge"
                  >{{ product.quantity }} x {{ product.name }} ({{
                    product.chosenSize
                  }})</a
                >
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center priceInfo">
              <span
                >Cena: <em>{{ order.price | pointReplacer }} RSD</em></span
              >
              <span>Način plaćanja: <em>pouzećem</em></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sellYourProduct" *ngIf="activeContent === 3">
      <h4>Prodajte i Vi</h4>
      <span id="headline">
        <em
          >Preko naše platforme imate mogućnost i da zaradite. Ispunite sledeću
          formu i prodajte svoj proizvod.<br />Naš sajt služi kao posrednik
          između Vas, kao prodavca, i potencijalnih kupaca, bez bilo kakve
          provizije.</em
        >
      </span>
      <div class="createProductForm">
        <h4>Forma za kreiranje proizvoda</h4>
        <form [formGroup]="productForm">
          <div class="form-group">
            <input
              id="name"
              type="text"
              [ngClass]="
                nameOfProduct.invalid && nameOfProduct.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="nameOfProduct"
              placeholder="Naziv proizvoda"
            />
            <div
              *ngIf="nameOfProduct.errors && nameOfProduct.touched"
              class="mt-1"
            >
              <span *ngIf="nameOfProduct.errors.required">
                Unesite naziv proizvoda
              </span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              [ngClass]="
                price.invalid && price.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="price"
              placeholder="Cena"
            />
            <div *ngIf="price.errors && price.touched" class="mt-1">
              <span *ngIf="price.errors.required">
                Unesite cenu proizvoda
              </span>
            </div>
          </div>
          <div class="form-group">
            <select
              class="custom-select"
              [ngClass]="
                gender.invalid && gender.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="gender"
              (change)="changeGender($event)"
            >
              <option value="" disabled
                >Izaberite pol za koji je produkt namenjen</option
              >
              <option *ngFor="let gender of genders" [ngValue]="gender">{{
                gender
              }}</option>
            </select>
            <div *ngIf="gender.errors && gender.touched" class="mt-1">
              <span *ngIf="gender.errors.required">
                Izaberite pol za koji je produkt namenjen
              </span>
            </div>
          </div>
          <div class="form-group">
            <select
              class="custom-select"
              formControlName="category"
              [ngClass]="
                category.invalid && category.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              (change)="changeCategory($event)"
            >
              <option value="" disabled>Izaberite kategoriju produkta</option>
              <option
                *ngFor="let category of categories"
                [ngValue]="category"
                >{{ category }}</option
              >
            </select>
            <div *ngIf="category.errors && category.touched" class="mt-1">
              <span *ngIf="category.errors.required">
                Izaberite kategoriju proizvoda
              </span>
            </div>
          </div>
          <div class="form-group">
            <select
              class="custom-select"
              formControlName="color"
              [ngClass]="
                color.invalid && color.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              (change)="changeColor($event)"
            >
              <option value="" disabled>Izaberite boju produkta</option>
              <option *ngFor="let color of colors" [ngValue]="color">{{
                color
              }}</option>
            </select>
            <div *ngIf="color.errors && color.touched" class="mt-1">
              <span *ngIf="color.errors.required">
                Izaberite boju proizvoda
              </span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              [ngClass]="
                size.invalid && size.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="size"
              placeholder="Dostupne veličine proizvoda (zapišite u formatu XS,S,M,...)"
            />
            <div *ngIf="size.errors && size.touched" class="mt-1">
              <span *ngIf="size.errors.required">
                Unesite veličine proizvoda ili proverite da li ste ih zapisali u
                korektnom formatu
              </span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              [ngClass]="
                caption.invalid && caption.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="caption"
              placeholder="Opis proizvoda"
            />
            <div *ngIf="caption.errors && caption.touched" class="mt-1">
              <span *ngIf="caption.errors.required">
                Unesite opis proizvoda
              </span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              [ngClass]="
                composition.invalid && composition.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="composition"
              placeholder="Sastav proizvoda"
            />
            <div *ngIf="composition.errors && composition.touched" class="mt-1">
              <span *ngIf="composition.errors.required">
                Unesite sastav proizvoda
              </span>
            </div>
          </div>
          <div
            class="imageUploadContainer d-flex flex-row justify-content-between"
          >
            <div>
              <label class="btn btn-secondary">
                <i class="fa fa-image"></i>
                Izaberite naslovnu sliku
                <input
                  #imageInput
                  type="file"
                  style="display: none;"
                  accept="image/*"
                  (change)="processFile(imageInput)"
                />
              </label>
              <strong *ngIf="avatarName == ''">Nema izabrane slike</strong>
              <strong *ngIf="avatarName != ''">Izabrana slika je: </strong
              ><span>{{ avatarName }}</span>
            </div>

            <div>
              <label class="btn btn-secondary">
                <i class="fa fa-image"></i> Izaberite 4 slike proizvoda<input
                  type="file"
                  style="display: none;"
                  accept="image/*"
                  multiple
                  (change)="processFiles($event)"
                />
              </label>
              <strong>Izabrano je: </strong
              ><span>{{ productDetailsImages.length }} slika</span>
            </div>
          </div>

          <div
            class="formButtonContainer"
            [ngClass]="
              productForm.invalid ||
              avatar == null ||
              productDetailsImages.length != 4
                ? 'formButtonInvalid'
                : 'formButtonValid'
            "
            (mousemove)="showErrorDialog($event)"
            (mouseleave)="hideErrorDialog()"
          >
            <button
              class="btn btn-outline-secondary"
              type="submit"
              (click)="createProduct()"
            >
              Sačuvajte
            </button>
          </div>
          <div class="dialogErrorMessage" id="dialogErrorMessage">
            Popunite formu i izaberite slike
          </div>
        </form>
      </div>
    </div>
    <div class="myProducts" *ngIf="activeContent === 4">
      <h4>Moji oglasi</h4>
      <span id="headline">
        <em
          >Preko naše platforme imate mogućnost i da zaradite. Naš sajt služi
          kao posrednik između Vas, kao prodavca, i potencijalnih kupaca, bez
          bilo kakve provizije. <br />Na sledećoj listi prikazani su proizvodi
          koje vi prodajete. Klikom na proizvod možete
          <b>izbrisati</b> oglas.</em
        >
      </span>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div *ngFor="let product of products">
          <app-product
            [model]="product"
            [adminView]="true"
            [typeOfProduct]="1"
            (productDeleted)="getProducts()"
          ></app-product>
        </div>
      </div>
    </div>
  </div>
</div>
