<button
  id="openModalButton"
  [hidden]="true"
  data-toggle="modal"
  data-target="#myModal"
>
  Open Modal
</button>

<div
  id="myModal"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar">
          <img src="../../../../assets/images/user.png" alt="Avatar" />
        </div>
        <h4 class="modal-title">Prijavite se</h4>
        <button
          type="button"
          id="closeButton"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          (click)="modalDismissedHandler()"
          style="outline: none;"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (submit)="login()">
          <div class="form-group">
            <input
              type="text"
              [ngClass]="
                email.invalid && email.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="email"
              placeholder="Email"
            />
            <div *ngIf="email.errors && email.touched" class="mt-1">
              <span *ngIf="email.errors.required">
                Unesite email adresu
              </span>
              <span *ngIf="email.errors.email">
                Email mora biti validna email adresa
              </span>
              <span *ngIf="email.getError('incorrect')">
                Email koji ste uneli nije tacan
              </span>
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              [ngClass]="
                password.invalid && password.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="password"
              placeholder="Password"
            />
            <div *ngIf="password.errors && password.touched" class="mt-1">
              <span *ngIf="password.errors.required">Unesite lozinku</span>
              <span *ngIf="password.getError('incorrect')"
                >Lozinka nije tacna</span
              >
            </div>
          </div>
          <div class="extraContentWrapper">
            <label style="float: left;"
              ><input type="checkbox" /> Remember me</label
            >
            <a href="#" style="float: right;">Forgot Password?</a>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary btn-lg btn-block login-btn"
              [disabled]="loginForm.invalid"
            >
              Prijava
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a
          href="#"
          data-dismiss="modal"
          aria-hidden="true"
          (click)="registerActiveHandler()"
          >Nemate korisnički nalog? Registrujte se ovde!</a
        >
      </div>
    </div>
  </div>
</div>
