#container {
  width: 100%;
  height: auto;
}

.sideBar {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  /* height: 100vh; */
  padding-top: 3%;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

.closeFiltersButton {
  display: none;
  position: relative;
  top: -30px;
  float: right;
  margin-top: 5px;
  color: rgb(56, 55, 55);
  font-size: 40px;
  transform: rotate(-1deg);
}

.IconDown {
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.IconUp {
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}

.categoryWrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.categoryHeaderWrapper {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.categoriesContent {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 1.2rem;
}

.categoriesContent span {
  cursor: pointer;
}

.outletCategoryHeaderWrapper {
  cursor: pointer;
  border-bottom: 1px solid black;
  width: 80%;
}

.colorWrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.colorHeaderWrapper {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.colorItem {
  width: 60px;
  height: 50px;
  border: 2px solid rgb(248, 249, 250);
  border-radius: 15px;
  margin: 2px;
  cursor: pointer;
}

.colorItem:hover {
  border-style: outset;
}

.sizeWrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.sizeHeaderWrapper {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.sizeItem {
  display: flex;
  width: 60px;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(248, 249, 250);
  border-radius: 15px;
  margin: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sizeItem:hover {
  border-style: outset;
}

.sizeItem span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.mainContent {
  overflow-x: hidden;
  max-width: 3000px;
  width: 100%;
  /* background-image: linear-gradient(
    to right,
    rgb(248, 249, 250),
    rgb(255, 255, 255)
  ); */
}

.filters {
}

.dropdownButton {
  background: none;
  border: none;
  outline: none;
}

.dropdownButton span {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

.spanActive {
  /* color: red; */
}

.dropdownIconUp {
  transform: rotate(180deg);
}

.dropdownIconDown {
  transform: rotate(0deg);
}

.radio {
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.dropdown-item {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 1.1rem;
}

.dropdown-item:focus {
  background: rgb(108, 117, 125);
}

.prikazPoStrani {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

.prikazPoStrani select {
  outline: none;
}

.prikazPoStrani span {
  word-spacing: -5px;
}

.filterButton {
  background: none;
  border: none;
  outline: none;
  margin-bottom: auto;
  display: none;
}

.filterButton span {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

.chosenFilters {
  background-color: rgb(236, 236, 236);
  max-width: 95%;
  width: 100%;
  min-height: 40px;
}

.chosenFilter {
  min-width: 60px;
  height: 20px;
  width: auto;
  background-color: rgb(111, 111, 111);
  margin: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.chosenFilter span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: white;
  margin-right: 5px;
}

.chosenFilter i {
  color: rgb(183, 183, 183);
  font-size: 13px;
  margin-left: auto;
  margin-right: 5px;
}

.chosenFilter:hover span {
  text-decoration: line-through;
}

.chosenFilter i:hover {
  color: rgb(248, 249, 250);
}

@media (max-width: 992px) {
  .sideBar {
    display: none;
  }

  .sideBar .closeFiltersButton {
    display: inline;
  }

  .filterButton {
    display: inline;
  }
}
