<div class="container-fluid d-flex flex-row" id="container">
  <div class="sideBar">
    <div class="categoryWrapper mt-2 mb-4">
      <div class="categoryHeaderWrapper">
        <div
          class="d-flex flex-row"
          data-toggle="collapse"
          data-target="#demo"
          (click)="scrollToggler(1)"
        >
          <h4 class="">Categories</h4>
          <i
            class="fas fa-angle-down d-flex align-self-center"
            [ngClass]="categoryActive ? 'IconDown' : 'IconUp'"
            style="margin-left: auto;"
          ></i>
        </div>
        <hr />
      </div>
      <div id="demo" class="collapse show categoriesContent">
        <div>
          <span>Jackets</span>
        </div>
        <div>
          <span>Shirts</span>
        </div>
        <div>
          <span>T-shirts</span>
        </div>
      </div>
    </div>

    <div class="colorWrapper my-4">
      <div class="colorHeaderWrapper">
        <div
          class="d-flex flex-row"
          data-toggle="collapse"
          data-target="#demo2"
          (click)="scrollToggler(2)"
        >
          <h4>Colors</h4>
          <i
            class="fas fa-angle-down d-flex align-self-center"
            [ngClass]="colorsActive ? 'IconDown' : 'IconUp'"
            style="margin-left: auto;"
          ></i>
        </div>
        <hr />
      </div>
      <div id="demo2" class="collapse show">
        <section
          class="colorContent d-flex flex-row flex-wrap justify-content-center"
          style="padding-top: 15px; padding-left: 5px; padding-right: 5px;"
        >
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle 621px at 25.3% 13.8%,
                rgba(255, 255, 255, 1) 0%,
                rgba(234, 236, 255, 1) 90%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle 666px at 0.4% 48%,
                rgba(202, 204, 227, 1) 0%,
                rgba(89, 89, 99, 1) 97.5%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle farthest-corner at 10% 20%,
                rgba(90, 92, 106, 1) 0%,
                rgba(32, 45, 58, 1) 81.3%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: linear-gradient(
                111.8deg,
                rgba(0, 104, 155, 1) 19.8%,
                rgba(0, 173, 239, 1) 92.1%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle farthest-corner at 10% 20%,
                rgba(1, 150, 21, 1) 0%,
                rgba(198, 239, 146, 1) 90%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: linear-gradient(
                116.9deg,
                rgba(232, 10, 116, 1) -9.3%,
                rgba(244, 79, 79, 1) 77.3%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle farthest-corner at 0.2% 1.8%,
                rgba(255, 90, 8, 1) 0%,
                rgba(88, 0, 0, 1) 100.2%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle 426px at 77.9% 31.3%,
                rgba(255, 229, 131, 1) 0%,
                rgba(249, 119, 0, 1) 90%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: linear-gradient(
                315deg,
                #ff4e00 0%,
                #ec9f05 74%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: radial-gradient(
                circle 410px at 49.5% 99%,
                rgba(250, 208, 196, 1) 0%,
                rgba(255, 209, 255, 1) 99.5%
              );
            "
          ></div>
          <div
            class="colorItem"
            style="
              background-image: linear-gradient(
                109.6deg,
                rgba(218, 185, 252, 1) 11.2%,
                rgba(125, 89, 252, 1) 91.1%
              );
            "
          ></div>
        </section>
      </div>
    </div>

    <div class="sizeWrapper my-4">
      <div class="sizeHeaderWrapper">
        <div
          class="d-flex flex-row"
          data-toggle="collapse"
          data-target="#demo3"
          (click)="scrollToggler(3)"
        >
          <h4>Size</h4>
          <i
            class="fas fa-angle-down d-flex align-self-center"
            [ngClass]="sizeActive ? 'IconDown' : 'IconUp'"
            style="margin-left: auto;"
          ></i>
        </div>
        <hr />
      </div>
      <div id="demo3" class="collapse show">
        <section
          class="sizeContent d-flex flex-row flex-wrap justify-content-center"
          style="padding-top: 15px;"
        >
          <div class="sizeItem">
            <span>2XS</span>
          </div>
          <div class="sizeItem">
            <span>XS</span>
          </div>
          <div class="sizeItem"><span>S</span></div>
          <div class="sizeItem">
            <span>M</span>
          </div>
          <div class="sizeItem"><span>L</span></div>
          <div class="sizeItem">
            <span>XL</span>
          </div>
          <div class="sizeItem"><span>2XL</span></div>
          <div class="sizeItem">
            <span>3XL</span>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="mainContent d-flex flex-column">
    <div class="filters" style="margin-top: 15px;">
      <div class="dropdown">
        <button
          class="dropdownButton d-flex flex-row"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="scrollToggler(4)"
        >
          <span [ngClass]="sortActive ? 'spanActive' : null">Sort by</span>
          <i
            class="fas fa-angle-down d-flex align-self-center ml-3"
            [ngClass]="sortActive ? 'dropdownIconUp' : 'dropdownIconDown'"
            style="margin-left: auto;"
          ></i>
        </button>
        <div class="dropdown-menu m-0 p-0" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"
            ><input
              class="radio"
              type="radio"
              name="optradio"
              checked
            />Najskuplje prvo</a
          >
          <a class="dropdown-item" href="#"
            ><input class="radio" type="radio" name="optradio" />Najjeftinije
            prvo</a
          >
          <a class="dropdown-item" href="#"
            ><input class="radio" type="radio" name="optradio" />Najveći popust
            prvo</a
          >
        </div>
      </div>
    </div>
    <div
      class="productContainer d-flex flex-row flex-wrap justify-content-center"
    >
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
    </div>
  </div>
</div>
