#container {
  width: 100%;
  height: auto;
}

.sideBar {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  height: 100vh;
  padding-top: 3%;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

.IconDown {
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.IconUp {
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}

.categoryWrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.categoryHeaderWrapper {
  cursor: pointer;
}

.categoriesContent {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 1.2rem;
}

.colorWrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.colorHeaderWrapper {
  cursor: pointer;
}

.colorItem {
  width: 60px;
  height: 50px;
  border: 2px solid rgb(248, 249, 250);
  border-radius: 15px;
  margin: 2px;
  cursor: pointer;
}

.colorItem:hover {
  border-style: outset;
}

.sizeWrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.sizeHeaderWrapper {
  cursor: pointer;
}

.sizeItem {
  display: flex;
  width: 60px;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(248, 249, 250);
  border-radius: 15px;
  margin: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sizeItem:hover {
  border-style: outset;
}

.sizeItem span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

hr {
  background-color: black;
  border-width: thin;
  margin: 0 auto;
}

.dropdownButton {
  background: none;
  border: none;
  outline: none;
}

.dropdownButton span {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

.spanActive {
  /* color: red; */
}

.dropdownIconUp {
  transform: rotate(180deg);
}

.dropdownIconDown {
  transform: rotate(0deg);
}

.radio {
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.dropdown-item {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 1.1rem;
}

.dropdown-item:focus {
  background: rgb(108, 117, 125);
}

@media (max-width: 992px) {
  .sideBar {
    display: none;
  }
}
