<div class="d-flex flex-row">
  <div class="dialogErrorMessage" id="dialogErrorMessage">Popunite formu</div>
  <div class="dialogMessage" id="dialogMessage">
    Produkt je uspešno dodat u korpu.
  </div>
  <div class="mainContent d-flex flex-column">
    <div class="imageContainer d-flex flex-row mb-2">
      <img src="{{ this.productDetails[0] }}" alt="" />
      <img id="secondPhoto" src="{{ this.productDetails[1] }}" alt="" />
    </div>

    <div class="imageContainer d-flex flex-row mb-2" id="secondImageContainer">
      <img src="{{ this.productDetails[2] }}" alt="" />
      <img src="{{ this.productDetails[3] }}" alt="" />
    </div>
    <div class="productDetails mb-2">
      <p class="productDetailsHeader">
        {{ model.caption }}
      </p>
      <div class="productDetailsAdditionalInfo">
        <p><b style="color: black">Sastav -</b> {{ model.composition }}</p>
        <p *ngIf="productType === 'outlet'">
          <b style="color: black">Kontakt prodavca -</b>
          <span> {{ this.email }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="productReCap">
    <div class="d-flex flex-row justify-content-between">
      <h4>{{ model.name }}</h4>
    </div>
    <h4>{{ model.price | pointReplacer }} RSD</h4>
    <h6>{{ chosenColorPrinter() }}</h6>
    <p class="mt-2 mb-1">Izaberite veličinu:</p>
    <div
      class="sizeContainer d-flex flex-row flex-wrap justify-content-start mb-2"
    >
      <div
        [ngClass]="
          this.availableSizes.includes('XS')
            ? 'sizeItem'
            : 'sizeItemNotAvailable'
        "
        id="XS"
        (click)="selectedSizeHandler('XS')"
      >
        <span>XS</span>
      </div>
      <div
        [ngClass]="
          this.availableSizes.includes('S')
            ? 'sizeItem'
            : 'sizeItemNotAvailable'
        "
        id="S"
        (click)="selectedSizeHandler('S')"
      >
        <span>S</span>
      </div>
      <div
        [ngClass]="
          this.availableSizes.includes('M')
            ? 'sizeItem'
            : 'sizeItemNotAvailable'
        "
        id="M"
        (click)="selectedSizeHandler('M')"
      >
        <span>M</span>
      </div>
      <div
        [ngClass]="
          this.availableSizes.includes('L')
            ? 'sizeItem'
            : 'sizeItemNotAvailable'
        "
        id="L"
        (click)="selectedSizeHandler('L')"
      >
        <span>L</span>
      </div>
      <div
        [ngClass]="
          this.availableSizes.includes('XL')
            ? 'sizeItem'
            : 'sizeItemNotAvailable'
        "
        id="XL"
        (click)="selectedSizeHandler('XL')"
      >
        <span>XL</span>
      </div>

      <div
        [ngClass]="
          this.availableSizes.includes('2XL')
            ? 'sizeItem'
            : 'sizeItemNotAvailable'
        "
        id="2XL"
        (click)="selectedSizeHandler('2XL')"
      >
        <span>2XL</span>
      </div>
    </div>
    <div class="quantityContainer" *ngIf="productType !== 'outlet'">
      <form [formGroup]="myForm">
        <label for="quantity">Količina: </label>
        <input
          type="number"
          id="quantity"
          formControlName="quantity"
          min="1"
          max="5"
        />
        <div *ngIf="f.quantity.errors" class="error">
          Unesite količinu između 1-5.
        </div>
      </form>
    </div>
    <div class="quantityContainer" *ngIf="productType === 'outlet'">
      <form [formGroup]="myForm">
        <label for="outletQuantity">Količina: </label>
        <input
          type="number"
          id="outletQuantity"
          formControlName="outletQuantity"
          min="1"
          max="1"
        />
        <div *ngIf="f.outletQuantity.errors" class="error">
          Ne možete uneti količinu veću od 1.
        </div>
      </form>
    </div>
    <!-- <button
      type="submit"
      class="btn btn-lg btn-block addToCartbtn"
      (click)="addToCart()"
      [disabled]="f.quantity.errors || selectedSize == undefined"
    >
      Dodaj u korpu
    </button> -->
    <div
      class="formButtonContainer"
      [ngClass]="
        f.quantity.errors || selectedSize == undefined
          ? 'formButtonInvalid'
          : 'formButtonValid'
      "
      (mousemove)="showErrorDialog($event)"
      (mouseleave)="hideErrorDialog()"
    >
      <button class="btn btn-lg btn-block" type="submit" (click)="addToCart()">
        Sačuvajte
      </button>
    </div>
    <div class="dialogMessage" id="dialogMessage">
      Produkt je uspešno dodat u korpu.
    </div>
  </div>
</div>
