.mainContent {
  max-width: 70%;
  width: 100%;
  padding: 10px;
}

.imageContainer {
  max-width: 95%;
  width: 100%;
}

.imageContainer img {
  max-width: 50%;
  height: 630px;
  width: 100%;
  margin: auto;
  /* margin-right: 5px; */
  cursor: pointer;
}

.productDetails {
  max-width: 95%;
  width: 100%;
  background-color: white;
  padding: 20px 130px;
}

.productDetailsHeader {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  color: rgb(128, 123, 123);
  font-size: 16px;
}

.productDetailsAdditionalInfo {
  font-family: "Montserrat", sans-serif;
  color: rgb(44, 17, 17);
  font-size: 12px;
}

.colorImagesContainer {
  padding-top: 10px;
}

.colorImagesContainer img {
  width: 60px;
  height: 80px;
  margin-right: 5px;
}

.productReCap {
  position: fixed;
  width: 28%;
  margin-top: 150px;
  margin-left: 69%;
}

.productReCap h4,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.productReCap p,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.sizeItem,
.sizeItemNotAvailable {
  display: flex;
  width: 60px;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(248, 249, 250);
  border-radius: 15px;
  margin-right: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sizeItemNotAvailable {
  filter: blur(2px);
  cursor: default;
}

.sizeItem:hover {
  border-style: outset;
}

.sizeItem,
.sizeItemNotAvailable span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.addToCartbtn {
  color: #fff;
  border-radius: 4px;
  background: #636363;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.addToCartbtn:hover {
  background: #868686;
  outline: none;
}

@media (max-width: 1360px) {
  .mainContent {
    max-width: 60%;
  }

  .productReCap {
    width: 35%;
    margin-left: 60%;
  }

  #secondPhoto {
    display: none;
  }

  .imageContainer img {
    max-width: 100%;
    margin: 0;
  }

  .productDetails {
    padding: 20px 60px;
  }

  #secondImageContainer img {
    max-width: 50%;
    height: 400px;
    margin: 0 auto;
  }
}
