<div class="wrapper container-fluid">
  <h3 *ngIf="productsShow">Korpa</h3>
  <div
    *ngIf="!productsShow"
    class="d-flex flex-column align-items-center noProductsContainer"
  >
    <div class="d-flex flex-row">
      <div
        class="iconContainer d-flex justify-content-center align-items-center"
      >
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div
        class="numberContainer d-flex justify-content-center align-items-center"
      >
        <span>0</span>
      </div>
    </div>
    <div
      class="textContainer d-flex flex-column justify-content-center align-items-center"
    >
      <h2>Korpa je prazna</h2>
      <p>
        Nema artikala u Vašoj korpi.<br />
        <span
          >Kliknite <a [routerLink]="['/product-page', 'men']">ovde</a> da
          nastavite sa kupovinom.</span
        >
      </p>
    </div>
  </div>
  <div class="productsContainer" *ngIf="productsShow">
    <div class="topContent d-flex flex-column align-self-end">
      <p *ngIf="getTotalQuantity() === 1">
        Imate <b>{{ getTotalQuantity() }} proizvod</b> u korpi
      </p>
      <p *ngIf="getTotalQuantity() != 1">
        Imate <b>{{ getTotalQuantity() }} proizvoda</b> u korpi
      </p>
      <h4>Ukupno: {{ getTotalPrice() | pointReplacer }} RSD</h4>
    </div>
    <hr style="margin: 5px;" />
    <div class="products">
      <h4>Svi artikli</h4>
      <div *ngFor="let product of products">
        <div class="product">
          <hr style="margin: 5px; border: 1px dashed rgb(229, 229, 229);" />
          <div class="productOverview d-flex flex-row">
            <img src="{{ product.picUrl }}" alt="" />
            <p style="margin-left: 5px;">
              {{ product.name }} <br />
              <span
                >{{ product.quantity }} x
                {{ product.price | pointReplacer }}
                RSD</span
              >
            </p>
            <p style="margin: auto;">Veličina: {{ product.chosenSize }}</p>
            <div
              style="margin-left: auto; margin-top: auto; margin-bottom: auto;"
            >
              <i
                class="fas fa-times-circle"
                style="font-size: 24px; color: rgb(225, 123, 94);"
                (click)="removeProduct(product)"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin: 5px; border: 1px dashed rgb(229, 229, 229);" />
    </div>
    <div class="buttonContainer d-flex flex-row justify-content-between">
      <button class="btn btn-outline-secondary" (click)="clearCart()">
        Ispaznite korpu
      </button>
      <button
        class="btn btn-outline-secondary"
        id="continueShoppingButton"
        (click)="loadProductsPage()"
      >
        Nastavite kupovinu
      </button>
      <button class="btn btn-outline-secondary" id="checkoutButton">
        Završite kupovinu
      </button>
    </div>
  </div>
</div>
