<button
  id="openModalButton"
  [hidden]="true"
  data-toggle="modal"
  data-target="#myModal"
>
  Open Modal
</button>

<div
  id="myModal"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar">
          <img src="../../../../assets/images/user.png" alt="Avatar" />
        </div>
        <h4 class="modal-title">Registrujte se</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          (click)="modalDismissedHandler()"
          style="outline: none;"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <input
              type="text"
              [ngClass]="
                email.invalid && email.touched
                  ? 'formControlInvalid'
                  : 'formControlValid'
              "
              formControlName="email"
              placeholder="Email"
            />
            <span *ngIf="email.invalid && email.touched">
              Your email does not look right
            </span>
          </div>
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <input
                type="password"
                [ngClass]="
                  registerForm.get('passwordGroup.password').invalid &&
                  registerForm.get('passwordGroup.password').touched
                    ? 'formControlInvalid'
                    : 'formControlValid'
                "
                formControlName="password"
                placeholder="Password"
              />
              <span
                *ngIf="
                  registerForm.get('passwordGroup.password').invalid &&
                  registerForm.get('passwordGroup.password').touched
                "
              >
                That password sucks...
              </span>
            </div>
            <div class="form-group">
              <input
                type="password"
                [ngClass]="
                  registerForm.get('passwordGroup').errors &&
                  registerForm.get('passwordGroup.confirmPassword').touched
                    ? 'formControlInvalid'
                    : 'formControlValid'
                "
                formControlName="confirmPassword"
                placeholder="Password"
              />
              <span
                *ngIf="
                  registerForm.get('passwordGroup').errors &&
                  registerForm.get('passwordGroup.confirmPassword').touched
                "
              >
                That password sucks...
              </span>
            </div>
          </div>
          <div class="extraContentWrapper">
            <label style="float: left;"
              ><input type="checkbox" /> Remember me</label
            >
            <a href="#" style="float: right;">Forgot Password?</a>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary btn-lg btn-block login-btn"
            >
              Prijava
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a
          href="#"
          data-dismiss="modal"
          aria-hidden="true"
          (click)="loginActiveHandler()"
          >Već imate korisnički nalog? Prijavite se!</a
        >
      </div>
    </div>
  </div>
</div>
